# Docker Compose service name for development environment
DOCKER_SERVICE_NAME=output-examples

# Configure if you plan to use Anthropic Models in your LLM prompts
ANTHROPIC_API_KEY=credential:anthropic.api_key

# Configure if you plan to use OpenAI in your LLM prompts
OPENAI_API_KEY=credential:openai.api_key

